.bar-nav ~ .seach-order{top: 0.80rem;}
.bar-nav ~ .seeVip-content{top: 1.88rem;}
.seach-order{position: absolute; top: 0; left: 0; right: 0; height: 1.08rem; display: -webkit-flex; align-items: center; padding: 0 0.16rem; border-bottom: 0.01rem solid #E6E6E6; background-color: #f5f5f5; z-index: 10;}
.seach-order .input{flex-grow: 1; height: 0.72rem; padding-left: 0.70rem; font-size: 0.32rem; color: #1A1A1A; border-radius: 0.08rem; background-color: #fff; border: 1px solid #e6e6e6;}
.seach-order .icon{position: absolute; left: 0.14rem; top: 0; height: 100%; width: 0.70rem; z-index: 2;}
.seach-order .seach-btn{font-size: 0.32rem; color: #333; width: 1.36rem; height: 0.72rem; line-height: 0.68rem; border: 1px solid #999; border-radius: 0.08rem; margin-left: 0.16rem; background-color: transparent;}
.seeVip-content{position: absolute; top: 1.08rem; left: 0; bottom: 0; width: 100%; overflow-x: hidden; overflow-y: auto; background-color: #f5f5f5;}
.vip-item{background-color: #fff; border-top: 1px solid #E6E6E6; border-bottom: 1px solid #E6E6E6; padding: 0.18rem 0; display: -webkit-flex; -webkit-flex-wrap: nowrap; margin-bottom: 0.20rem;}
.vip-item:first-child{border-top: none;}
.flex-item{display: -webkit-box; -webkit-box-orient: vertical; -webkit-box-pack: center; text-align: center; height: 0.72rem;}
.flex-item .span{display: block; font-size: 0.24rem; color: #333;}
.flex-item .em{display: block; font-size: 0.24rem; color: #999;}
.flex-item .b{display: block; font-size: 0.32rem; color: #333;}
.flex1{width: 2.28rem; border-right: 1px solid #E6E6E6;}
.flex2{width: 1.72rem; border-right: 1px solid #E6E6E6;}
.flex3{width: 1.80rem;}
.btm-nomore{display: block; width: 100%; height: 0.60rem; line-height: 0.60rem; font-size: 0.24rem; color: #999; text-align: center;}
.seach-order .icon{background: url("../images/sous.png") center no-repeat; background-size:0.28rem auto;}