.ztimeMask {
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background: 0 0;
    display: none;
    cursor: pointer;
    z-index: 1000000
}

.ztimeMask .ztimeMaskSun {
    position: absolute;
    width: 100%;
    height: 310px;
    bottom: 0;
    left: 0;
    background: #fff;
    cursor: pointer
}

.ztimeMask .ztimeMaskSun:before, .ztimeMask .ztimeMaskSun:after {
    content: "";
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, .8);
    position: absolute;
    z-index: 100
}

.ztimeMask .ztimeMaskSun:before {
    top: 99px
}

.ztimeMask .ztimeMaskSun:after {
    top: 246px
}

.ztimeMask .ztimeMaskSun .ztimeMaskTitle {
    position: absolute;
    top: 15%;
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0;
    background: #fff
}

.ztimeMask .ztimeMaskSun .ztimeMaskTitle li {
    flex: 1;
    text-align: center;
    list-style: none
}

.ztimeHeader {
    height: 40px;
    line-height: 40px;
    border-left: 0;
    border-right: 0;
}

.ztimeHeader a {
    padding: 0 10px
}

.ztimeHeader a:first-child {
    float: left
}

.ztimeHeader a:last-child {
    float: right;
    color: #3FB075;
}

.ztimeBody {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 210px;
    overflow: hidden;
    transform: translateY(-50%);
    display: flex
}

.ztimeBody:before, .ztimeBody:after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
}

.ztimeBody:before {
    top: 73px
}

.ztimeBody:after {
    top: 136px
}

.ztimeBodyAll {
    padding: 0;
    margin: 0;
    flex: 1;
    text-align: center
}

.ztimeBodyAll li {
    width: 100%;
    height: 70px;
    list-style: none;
    line-height: 70px
}

@keyframes zfadeIn {
    0% {
        transform: translateY(300px);
        opacity: 0
    }
    100% {
        transform: translateY(0px);
        opacity: 1
    }
}